table {
    width: 100%;
    border-collapse: collapse; /* une bordes */
}

td {
    border: 2px solid black;
    padding: 15px;
    vertical-align: top;
}

.izq {
    width: 40%;
    font-size: 1.5rem;
    font-weight: bold;
}

.der {
    max-width: 100%;
    height: auto;
}